[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
receive_data = "python app/receive_data_regularly.py"
test = "pytest"
ccn = "lizard -l python"
ccn_html = "lizard -l python -Tcyclomatic_complexity=20 -Tnloc=500 -Tparameter_count=7 --html > html/ccn/lizard_result.html"

[packages]
logging = "*"
python-dotenv = "*"
requests = "*"

[dev-packages]
ruff = "*"
jinja2 = "*"
lizard = "*"
pytest = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
