[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
receive_data = "python app/receive_data_regularly.py"
test = "pytest"

[packages]
logging = "*"
python-dotenv = "*"
requests = "*"
pytest = "*"
lizard = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
